imageio==2.34.1
imutils==0.5.4
lazy_loader==0.4
networkx==3.2.1
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pillow==10.3.0
pyzbar==0.1.9
scikit-image==0.22.0
scipy==1.13.0
tifffile==2024.5.10
